CuStore.WebUI/Connected Services/CrmService/CrmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CuStore.CRMService.OperationContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CuStore.CRMService.OperationContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8106/Services/CrmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CustomerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="Ratio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
</xs:schema>